.__web_annotation_container {
    position: fixed;
    bottom: 5px;
    left: auto;
    right: calc(50% - 7.5em);
    width: 15em;
    height: min-content;
    padding: 10px;
    background-color: green;
    display: flex;
    column-gap: 15px;
    justify-content: center;
}

.__web_annotation_comment {
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
    width: 15em;
    padding: 10px;
    background-color: orange;
}

.__web_annotation_comment > div {
    margin: 5px;
    background-color: white;
    
}

.__web_annotation_target {
    border-style: dashed !important;
    border-color: green;
}

.__web_annotation_selected {
    border-style: dashed !important;
    border-color: red;
}